/* CSS reset  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility classes  */
.container{
    width: 80%;
    margin: 0 auto;
}

/* banner part start here  */
.banner-part{
    background: linear-gradient(to left, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../image/cow1.png);
    /* background-image: linear-gradient(to left, black, transparent, ), url(..//image/cow1.png); */
    /* opacity: 0.7; */
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-heading{
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    margin-bottom: 30px;
}
.banner-text{
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1.1px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 40px;
}
.donate-btn{
    padding: 12px 25px;
    background-color: #ef233c;
    color: white;
    cursor: pointer;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 8px;
}
/* banner part end here  */


/* Lives start here  */
.lives{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    
}
.image-part{
    width: 50%;
}
.text-part{
    width: 50%;
}
.lives-heading{
    font-size: 45px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 30px;
}
.live-text-1{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #707070;
    margin-bottom: 30px;
}
.live-text-2{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #707070;
}
.explore-btn{
    padding: 12px 25px;
    background-color: #ef233c;
    color: white;
    cursor: pointer;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 30px;
}
.img{
    position: relative;
}
.fa-circle-play {
    position: absolute;
    top: 50%;
    left: 32%;
    color: white;
    background: #ff000087;
    padding: 20px;
    border-radius: 50px;
    font-size: 35px;
    cursor: pointer;
}
/* Lives part end here  */
/* They need us section start form here  */
#they-need-us{
    display: flex;
    margin-bottom: 100px !important; 
}

.need-heading {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    padding: 30px;
    color: #000;
}
.need-text1 {
    line-height: 1.5;
    font-size: 19px;
    padding: 30px;
    color: #707070;
    padding: 0px 0 10px 30px;
  }
.need-text2 {
    line-height: 1.5;
    font-size: 19px;
    padding: 0px 0 10px 30px;
    color: #707070;
  }
  .explore-btn2{
    padding: 12px 25px;
    background-color: #ef233c;
    color: white;
    cursor: pointer;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 30px;
    margin-left: 30px;
}
.need-img img{
    height: 550px;
}
/* They need us section end here  */

/* Thier life depend on your donation start here  */
.lives-heading2{
    font-size: 45px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding-bottom: 30px;
}
.lives-text2{
    line-height: 1.5;
    font-size: 19px;
    text-align: center;
    color: #707070;
    padding-bottom: 30px;
}
.help-wraper-1{
    display: flex;
}
.help-card{
    display: flex;
    width: 50%;
    margin-right: 30px;
    background-color: #fef4f5;
    padding: 30px;
    border-radius: 10px;
}
.help-card:nth-child(2){
    margin-right: 0px !important;
}
.icon {
    font-size: 35px;
    color: #ff6347d6;
    margin-right: 52px;
  }
  .help-hading {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .help-pera {
    font-size: 20px;
    /*! font-weight: 600; */
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    color: #707070;
  }
  #help-wraper-2{
    margin-top: 30px;
  }
  .their-lives {
    margin-bottom: 100px;
  }

/* Thier life depend on your donation end here  */
/* Image gallery start here  */

.image-wraper{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.image-card{
    width: 30%;
    overflow: hidden;
    margin-right: 20px;
}
.image-card:nth-child(3){
   margin-right: 0px !important;
}
.image-card img{
    width: 100%;
}
.second-img img{
    height: 393px;
border-radius: 13px;
}
/* Image gallery end here  */
/* Hand of charity section start here  */
.charity-heading {
    font-size: 45px;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Inter', sans-serif;
  }

  .charity-text {
    text-align: center;
    font-size: 20px;
    /*! font-weight: 600; */
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    color: #707070;
    margin-bottom: 50px;
  }
  .gallery-wraper{
    display: flex;
    justify-content: space-evenly;
  }
  .charity-card{
    /* border: 1px solid black; */
    border: 1px solid gray;
    border-radius: 12px;
    overflow: hidden;
    width: 30%;
  }
  .charity-img img{
    width: 100%;
  }
  .charity-description{
    padding: 20px;
  }
  .charity-card-heading{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .charity-card-text{
    color: #707070;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
  }
  .donate-for-zakat{
    color: #ef233c;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
  }
/* Hand of charity section end  here  */